/* *{
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}*/

body{
  font-family: 'PT Serif', arial, serif;
  line-height: 1.3em;
  position: relative;
  //max-width: 960px;
  min-width: 710px;
  width: 80%;
  margin: auto;
  //background-color: #83d6c3;
}

/*body.wtf{
  background-color: #E7AFAD;
  font-size: 50em;
}*/

h2,h3,h4{
  font-family: 'PT Sans', arial, serif;
}

p{
  margin: 15px 0;
}

.b-caption{
  text-align: center;
  margin: 2em 0;
}

.b-caption h1{
  font-size: 3.2em;
}

 ul.b-menu {
  list-style:none;
  margin: 0 auto;
  //width:80%;
}

.b-menu li{
  float:left;
  padding:5px 0;
  line-height:2em;
  text-align:center;
  width: 14%;
}

.b-menu li a{
  display:block;
  color:#333;
  font-weight: bold;
  text-decoration: none;
}

.b-menu{
  border-top: 1px solid black;
  border-bottom:1px solid black;
  padding: 5px 0;
  margin-bottom: 1em;
}

#tabTitle{
  text-align:center;
  margin: 1.5em auto;
  font-size: 1.8em;
  font-weight:bold;
}


.floatcontainer{
  overflow:hidden;
  width:100%
}

.b-photo{
  float:left;
  width:50%;
}

.b-photo img {
  display:block;
  margin:0 auto;
  height:440px;
}

.rightmenu{
  float:right;
  height:440px;
  vertical-align:middle;
  width:50%;
}

.rightmenu ul{
  list-style:none;
  line-height:2em;
  display:block;
  margin: 0 auto;
}

.rightmenu a{
  color:#333;
  font-size:2.4em;
  font-variant:small-caps;
  line-height: 1.2em;
}

.b-story{
  clear:both;
  padding: 1em 0;
}
.b-info{
  margin-top: 1.5em;
}

.b-info h2{
  text-align: center;
  padding-top: 1em;
}
.b-infotext{
  padding: 0 1em ;
}
.works td{
  padding: 30px 10px 0;
  vertical-align:top;
  text-align:justify;
}

.works .image {
vertical-align:top;
}

.works .w-name{
font-weight:bold;
margin-top:0;
}

.works .links{
padding: 0 10px;
}

.description {
  display: inline-block;
  width: 700px;
}
.chronology{
text-align:justify;
}

.chronology p{
  text-align:center;
  font-size:1.2em;
  margin: 0.5em 0;
  font-weight:bold;
}



.publications li{
  margin: 0.5em 0;
text-align:justify;
}
/*.whoa{
//  color: #D1DDF8;
  color: #fff;
  text-align: center;
}*/

